/* Main Stylesheet */

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
    background-color: #f4f4f4;
}

header {
    background: #35424a;
    color: #ffffff;
    padding: 20px 0;
    text-align: center;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.footer {
    text-align: center;
    padding: 20px 0;
    background: #35424a;
    color: white;
}